/*---------------------------------- HEADER ------------------------*/
#header .navbar-nav {
    width: 100%;
}

#header{
    background-color: rgba(2, 5, 64, 0.8);
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0;
    border-bottom: 2px solid orange;
}

#header a.nav-link{
    color: white;
}

#header a.nav-link:hover{
    color: aqua;
}

#header img.logo{
    width: 50px;
}

#header img.cart{
    width: 40px;
}

#header span.count-item{
    font-weight: 600;
    position: absolute;
    top: 0px;
}

#header .nav-center form input{
    width: 680px;
    padding-left: 40px;
}

#header .nav-center form button{
    color: rgba(55, 0, 255, 0.884);
    position: absolute;
    top: 0;
    font-size: 20px;
}

/*------------------------------- BANNER ---------------------------*/

#banner img{
    width: 100%;
}

#banner ul li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* --------------------------------- MAIN --------------------------*/

h3.tieu-de::after{
    content: " ";
    display: block;
    width: 800px;
    height: 2px;
    background-color: rgba(219, 69, 31, 0.5);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
}


#main .row .col-md-3{
    margin-bottom: 20px;
}

#main .row .col-md-3 img{
    width: 255px;
    height: 361px;
}

#main .row .col-md-3 .infor{
    margin-top: 20px;
}

#main .row .col-md-3 .infor a{
    color: black;
    
    
}

#main .row .col-md-3 .infor a h6{
    color: black;
    height: 57px;
    overflow: hidden;
    
}

#main .row .col-md-3 .infor a h6:hover{
    color: rgba(25, 0, 255, 0.959);
}

#main .row .col-md-3 img:hover{
    transform: scale(1.1, 1.1);
}

#main .row .col-md-3 a{
    text-decoration: none;
}

#main .row .col-md-3 a.btn{
    color: white;
}

#main .row .col-md-3 .infor .price-buy{
    display: flex;
    justify-content: space-around;
}

#main .row .col-md-3 .infor .price-buy p{
    font-weight: 600;
}

#main .row .col-md-3 .infor .price-buy a:hover{
    color: rgba(25, 0, 255, 0.959);
}

#main a.view-all {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 70px;
    color: #120a53;
    border: 2px solid #545b62;
    margin: auto;
}

#main a.view-all:hover {
    color: #226499;
}

/*---------------------- FOOTER --------------------------*/

#footer{
    border-top: 2px solid orange;
    margin-top: 55px;
    background-color: rgba(2, 5, 40, 0.9);
    padding-top: 20px;
    color: aliceblue;
}

#footer ul{
    padding-left: 0;
}

#footer ul li a{
    text-decoration: none;
    color: rgb(186, 223, 218);
}

#footer ul li{
    list-style: none;
    
}

#footer ul li a:hover{
    color: rgba(0, 238, 255, 0.959);
}

#footer h4{
    color: orange;
    font-size: 25px;
    font-weight: 700;
}

#footer h5{
    font-weight: 700;
}