#main .item-detail img {
	width: 370px;
	height: 524px;
	margin-bottom: 10px;
}

#main .item-detail {
	margin-top: 30px;
}

#main .item-detail .btn-buy {
	width: 400px;
}

#main .item-detail .btn-buy a {
	color: white;
	font-size: 25px;
	font-weight: 600;
}

#main .item-detail .col-md-5 .list-img {
	display: flex;
}

#main .item-detail .col-md-5 .list-img img {
	width: 80px;
	height: 110px; border : 1px solid #ccc;
	cursor: pointer;
	margin-right: 6px;
	border: 1px solid #ccc;
}